/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.mainCardColumn {
  padding-left: 20px;
   padding-right: 20px;
}
/* 
.mainCardColumn {
  padding-left: 20px;
   padding-right: 20px;
} */

@media screen and (max-width: 966px) {
  .mainCardColumn:not(:last-child) {
    margin-bottom: 40px;
  }
}



.acard {
  /* margin-bottom: 0px; */
  /* padding-top: 20px;
  padding-bottom: 20px; */
  text-align: center;
  /* background-color: #380320; */
}

header > .acard {
  background-color: rgba(250, 1, 97, 0.7);
}

main > .acard {
  z-index: 10;
  background-color: #380320;
}

.mr {
  margin-right: 20px;
}

.card {
  margin-bottom: 40px;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
}

header > .card {
  background-color: rgba(22, 41, 60, .7);
}

main > .card {
  z-index: 10;
  background-color: #32475a;
}

.background_dark_blue {
  background-color: rgba(22, 41, 60, .7);
}


.bcard {
  /* margin-bottom: 0px; */
  /* padding-top: 20px;
  padding-bottom: 20px; */
  text-align: center;
  background-color: rgba(22, 41, 60, .7);
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  grid-auto-rows: minmax(100px, auto);
}


.gridcard {
  padding: 40px;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 10px;
  background-color:  #32475a;
}

header > .gridcard {
  background-color:  #32475a;
}

main > .gridcard {
  z-index: 10;
  background-color:  #32475a;
}


.gridsubcard {
  text-align: center;
  border-radius: 10px;
  background-color:  rgba(22, 41, 60, .7);
}

header > .gridsubcard {
  background-color:  rgba(22, 41, 60, .7);
}

main > .gridsubcard {
  z-index: 10;
  background-color:  rgba(22, 41, 60, .7);
}



