/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #d7c378;
  --ifm-color-primary-dark: #00ADD0;
  --ifm-color-primary-darker:#00ADD0;
  --ifm-color-primary-darkest: #00ADD0;
  --ifm-color-primary-light: #d7c378;
  --ifm-color-primary-lighter: #d7c378;
  --ifm-color-primary-lightest: #d7c378;
  --ifm-code-font-size: 95%;
  --ifm-navbar-background-color: #16293c;
  --ifm-background-color:#16293c;
  --ifm-background-surface-color:var(--ifm-background-color);
}

@font-face {
  font-family: "MetricRegular";
  src: url("/fonts/Metric-Regular.otf");
 }

 @font-face {
  font-family: "Tiempos";
  src: url("/fonts/Tiempos.otf") format("opentype");
 }


body{
  font-family: "MetricRegular";
  font-size:18px;
}

h1{
  font-family: "Tiempos";
}

.navbar__title{
  font-family: "Tiempos";
}

.goldencolor{
  color:var(--ifm-color-primary);
}

.gold{
  color:var(--ifm-color-primary);
}

.hero__title{
  font-size:40px;
  text-align: center;
}

.hero--blue{
  background-color:#16293c
}
.card {
  /* box-shadow: 0 4px 8px 0 rgba(223, 18, 18, 0.2); */
  /* max-width: 300px; */
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color:#32475a;
  border-radius: 0px;
  height:100%;
}

.hero__subtitle{
  text-align: left;
}

html[data-theme="dark"]{
  --ifm-background-color:#16293c;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.prism-code{
  font-size: 14px;
}

.badge.badge--primary{
  margin-right:5px;
}

.badge{
  font-size:70%
}

.badge.badge--primary > a{
  color:black;
  font-family: 'Segoe UI';
}



.longcard{
  background-color: #32475a;
  margin-bottom: 40px;
  padding-bottom:0px !important;
  min-height:200px;
}

.longcard-image{
  padding:0px !important;
  width:100%;
  height:200px;
}

.longcard-image > img{
  object-fit: cover;
  width:100%;
  height:100%;
}


.longcard-body{
  padding:20px!important;
  margin:auto;
  /* min-height:200px; */
}

.longcard-description{
  font-family:"Metric";
  margin-bottom:0px;
}

.longcard-title{
  font-family:"Metric";
  font-size:24px;
  margin-bottom:0px;
}




